In [1]:
!pwd

/home/quadrantrpabot/Downloads/aclImdb/all

In [2]:
import pandas as pd

In [69]:
DF = pd.DataFrame(columns=["fileName", "text"])

In [70]:
DF

Empty DataFrame
Columns: [fileName, text]
Index: []

In [67]:
import glob

paths = glob.glob(r"/home/quadrantrpabot/Downloads/aclImdb/all/**/*.txt",recursive=True)

In [71]:
DF["fileName"] = paths

In [72]:
DF

                                                fileName text
0      /home/quadrantrpabot/Downloads/aclImdb/all/tes...  NaN
1      /home/quadrantrpabot/Downloads/aclImdb/all/tes...  NaN
2      /home/quadrantrpabot/Downloads/aclImdb/all/tes...  NaN
3      /home/quadrantrpabot/Downloads/aclImdb/all/tes...  NaN
4      /home/quadrantrpabot/Downloads/aclImdb/all/tes...  NaN
...                                                  ...  ...
49995  /home/quadrantrpabot/Downloads/aclImdb/all/tra...  NaN
49996  /home/quadrantrpabot/Downloads/aclImdb/all/tra...  NaN
49997  /home/quadrantrpabot/Downloads/aclImdb/all/tra...  NaN
49998  /home/quadrantrpabot/Downloads/aclImdb/all/tra...  NaN
49999  /home/quadrantrpabot/Downloads/aclImdb/all/tra...  NaN

[50000 rows x 2 columns]

In [73]:
len(paths)

50000

In [75]:
texts = []
for file in paths:
    with open(file,"r") as text:
        texts.append(text.readlines())

In [84]:
actual_texts = []
for i in texts:
    actual_texts.append(i[0])
    # try:
    #     print(i[1])
    # except:
    #     print("list index out of range")

In [89]:
DF["text"] = actual_texts

In [94]:
import pickle as pkl

In [96]:
outfile = open("imdb","wb+")
pkl.dump(DF,outfile)
outfile.close()

In [97]:
!pwd

/home/quadrantrpabot

In [2]:
import pickle as pkl

In [3]:
infile = open("/home/quadrantrpabot/Downloads/imdb","rb")
DF = pkl.load(infile)
infile.close()

In [4]:
DF

,fileName,text
0,/home/quadrantrpabot/Downloads/aclImdb/all/tes...,This early film from future goremeister Lucio ...
1,/home/quadrantrpabot/Downloads/aclImdb/all/tes...,William Shakespeare probably didn't envision S...
2,/home/quadrantrpabot/Downloads/aclImdb/all/tes...,Bears about as much resemblance to Dean Koontz...
3,/home/quadrantrpabot/Downloads/aclImdb/all/tes...,Ich will danke Herr Hacke für den Filme. Mein ...
4,/home/quadrantrpabot/Downloads/aclImdb/all/tes...,Shame on you if you give this film a low ratin...
...,...,...
49995,/home/quadrantrpabot/Downloads/aclImdb/all/tra...,"Being that I loved the original ""Caligula"" eve..."
49996,/home/quadrantrpabot/Downloads/aclImdb/all/tra...,"It is nice to see the likes of Oliver Stone, B..."
49997,/home/quadrantrpabot/Downloads/aclImdb/all/tra...,"666: The Child starts as a plane crashes, the ..."
49998,/home/quadrantrpabot/Downloads/aclImdb/all/tra...,Don't even ask me why I watched this! The only...
49999,/home/quadrantrpabot/Downloads/aclImdb/all/tra...,Another trashy Grade Z quickie from the prolif...